<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.local.clipboard.miao</string>
		<key>Program</key>
		<string>/Users/mattmiao/Documents/code/launchd/clipboard.js</string>
		<key>RunAtLoad</key>
		<true/>
        
		<key>StandardInPath</key>
		<string>/Users/mattmiao/Documents/code/launchd/clipboard.stdin</string>
		<key>StandardOutPath</key>
		<string>/Users/mattmiao/Documents/code/launchd/clipboard.stdout</string>
		<key>StandardErrorPath</key>
		<string>/Users/mattmiao/Documents/code/launchd/clipboard.stderr</string>

		<key>HardResourceLimits</key>
		<dict>
			<key>FileSize</key>
			<integer>10485760</integer>
		</dict>
		<key>SoftResourceLimits</key>
		<dict>
			<key>FileSize</key>
			<integer>5242880</integer>
		</dict>

		<key>StartInterval</key>
		<integer>5</integer>
	</dict>
</plist>